@{
  Layout = "_Layout";
}
<div class="page-header" id="featured-header">
  <h1>Cart Details</h1>
</div>

<div class="container">
@if(Model["buyer"].GetId()==0)
{
  <h1>Please <a href="/login">Log In </a> to create a cart!</h1>
}
else{
  <div class="container main-cart">
    <div class="row">
      <div class="col-md-9 cart-items">
        @foreach(var item in @Model["items"])
        {
          <div class="well product-well">
            <div class ="product">
              <img src="@item.GetProductInfo().GetImage()" alt="@item.GetProductInfo().GetName()">
              <p>@item.GetProductInfo().GetName()</p>
              <p>@item.GetProductInfo().GetBrand()</p>
              <p>@item.GetColor()</p>
              <p>@item.GetSize()</p>
              <p class="price">$@item.GetProductInfo().GetPrice().ToString("0.00")</p>
              <form action='/cart/@Model["buyer"].GetId()/removed' method="post">
                <input type="hidden" value='@item.GetId()' name="item-id">
                <button type="submit" class="btn btn-danger btn-sm" name="delete_button">Remove From Cart</button>
              </form>
            </div>
          </div>
        }
        @if(Model["items"].Count == 0)
        {
          <h3>Your cart is empty</h3>
        }
        else
        {
          <form action='/cart/@Model["buyer"].GetId()/removed/all' method="post">
            <button id="empty-cart" type="submit" class="btn btn-danger" name="delete_button">Empty Cart</button>
          </form>
        }

      </div>
      <div class="col-md-3 well order-placement">
        <h3>Total:</h3>

        <form action = '/order/@Model["buyer"].GetId()' method="post">
          <button type="submit" class="btn btn-success" name="order_button">Place an Order</button>
        </form>
      </div>
    </div>
  </div>
}

</div>
