@{
  Layout = "_Layout";
}

<div class="page-header" id="featured-header">
  @if(Model != null )
  {
    <h1>All @Model["selectedCategory"].GetName()</h1>;
  }
</div>

<div class="row sort-by">
  <label>Sort By:</label>
  <select class="sort">
    <option>Price - High to Low</option>
    <option>Price - Low to High</option>
    <option>Brand - A-Z</option>
    <option>Brand - Z-A</option>

  </select>
</div>

<!-- FOREACH loop to create product rows -->
@if(Model != null )
{
  <div class="row products">
  @foreach(var product in Model["selectedCategory"].GetProducts())
  {

      <div class="column category-product">
        <a href='/products/details/@product.GetId()/@Model["buyer"].GetId()'><img src="@product.GetImage()"></a>
        <div class="brand-description">
          <a href="/products/details/@product.GetId()">@product.GetBrand()</a><br>
          <a href="/products/details/@product.GetId()">@product.GetDescription()</a><br>
          <a href="/products/details/@product.GetId()">@product.GetPrice()</a>
        </div>
      </div>
  }
  </div>
}
