@{
  Layout = "_Layout";
}
<div class="page-header" id="featured-header">
  <h1>Featured</h1>
</div>
<form class="" action="/populate" method="post">
  <button type="submit" name="button">POPULATE DATABASE</button>
</form>


<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item featured-carousel active">
        <a href='/products/@Model["featured"].GetId()'>
        <div class="row">
          <div class="col-md-6 carousel-image">
            <img src='@Model["featured"].GetImage()' alt='@Model["featured"].GetName()' style="width:100%;">
          </div>
          <div class="col-md-6 carousel-description">
            <h3>@Model["featured"].GetBrand()</h3>
            <h3>@Model["featured"].GetName()</h3>
            <h2>@Model["featured"].GetPrice()</h2>
          </div>
        </div>
          </a>
      </div>

      @foreach (var product in @Model["products"])
      {
          <div class="item featured-carousel">
            <a href="/products/@product.GetId()">
            <div class="row">
              <div class="col-md-6 carousel-image">
                <img src="@product.GetImage()" alt="@product.GetName()" style="width:100%;">
              </div>
              <div class="col-md-6 carousel-description">
                <h3>@product.GetBrand()</h3>
                <h3>@product.GetName()</h3>
                <h2>@product.GetPrice()</h2>
              </div>
            </div>
              </a>
          </div>
      }


      @* <div class="item featured-carousel ">

        <div class="row">
          <div class="col-md-6 carousel-image">
            <img src="http://www.pngmart.com/files/1/Mens-Pant-PNG-HD.png" alt="Pants" style="width:100%;">
          </div>
          <div class="col-md-6 carousel-description">
            <h3>[Brand] pants</h3>
            <ul>
              <h4>Comes in</h4>
              <li>[Color1]</li>
              <li>[Color2]</li>
              <li>[Color3]</li>
            </ul>
            <ul>
              <h4>Sizes</h4>
              <li>[Color1]</li>
              <li>[Color2]</li>
              <li>[Color3]</li>
            </ul>
            <h2>Only [Price]!</h2>
          </div>
        </div>

        <div class="carousel-caption">
          <a href="#"><h3>View Product Details</h3></a>
        </div>
      </div> *@

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
