@{
  Layout = "_Layout";
}
<div class="row">
 <div class="well">
<h2>Update Details</h2>
<form action='/buyers/update/@Model["buyer"].GetId()' method="post">
  <div class="container">
    <label for ="buyer">Update Name:</label>
    <div class="form-group">
      <input type="text" class="form-control" name="buyer-name" value='@Model["buyer"].GetUsername()'>
    </div>

    <label for ="buyer">Update Password:</label>
    <div class="form-group">
      <input type="password" class="form-control" name="buyer-password" value='@Model["buyer"].GetPassword()'>
    </div>

    <label for ="buyer">Update Phone:</label>
    <div class="form-group">
      <input type="text" class="form-control" name="buyer-phone" value='@Model["buyer"].GetPhone()'>
    </div>
    <label for ="buyer">Update Email:</label>
    <div class="form-group">
      <input type="text" class="form-control" name="buyer-email" value='@Model["buyer"].GetEmail()'>
    </div>
    <label for ="buyer">Update Card Number:</label>
    <div class="form-group">
      <input type="text" class="form-control" name="buyer-card-number" value='@Model["buyer"].GetCreditCard()'>
    </div>

  <button type="submit" class="btn btn-info" name="button">Update</button>
  </div>
  </form>
